//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
  margin-top: 242px;

  background-image:url("../assets/images/26.fw.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .content-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    .content-wrapper {
      &:nth-child(1) {
        width: 57%;
      }

      &:nth-child(2) {
        width: 43%;
      }

      .hand {
        z-index: 12;

        margin: -120px 0 0 69px;
      }
    }      
  }

  .text {
    z-index: 13;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .title {
      margin: 30px 0 10px 4px;

      font-size: 37px;
      font-weight: 700;
      letter-spacing: 3px;
      color: $white;
    }

    .desc {
      margin: 0 21px 15px 3px;

      font-size: 18px;
      letter-spacing: -.6px;
      color: $white;
    }

    .logos {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .apple-logo {
        margin: 20px 0 0 3px;
        width: 18%;
      }

      .google-logo {
        margin: 20px 0 0 111px;
        width: 20%;
      }
    }
  }

  .content-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid $white;

    .content-pockets {
      padding: 3px 0 0 0;

      &:nth-child(1) {
        width: 31%;

        .logo {
          position: absolute;

          margin: -47px 0 0 0;
          width: 63px;
        }

        .text {
          margin: 27px 33px 0 2px;

          font-size: 15px;
          line-height: 26px;
          color: $white;
        }

        .link {
          position: absolute;

          margin: 29px 0 0 0;

          font-size: 15px;
          letter-spacing: -1px;
          color: #fff;
        }
      }

      &:nth-child(2) {
        padding: 63px 0 200px 72px;
        width: 38%;

        border-right: 1px solid $white;
        border-left: 1px solid $white;

        .logo {
          position: absolute;

          margin: -23px 0 0 0;
          width: 66px;
        }

        .text {
          position: absolute;

          margin: 57px 0 0 0;
          width: 340px;

          font-size: 15px;
          line-height: 26px;
          color: $white;
        }

        .link {
          position: absolute;

          margin: 139px 0 0 0;

          font-size: 15px;
          letter-spacing: .3px;
          color: #fff;
        }
      }

      &:nth-child(3) {
        padding: 0 0 0 74px;
        width: 31%;

        .logo {
          position: absolute;

          margin: -94px 0 0 0;
          width: 50px;
        }

        .number {
          position: absolute;

          margin: -4px 0 0 -3px;

          font-size: 36px;
          font-weight: bold;
          letter-spacing: -.6px;
          color: $white;
        }

        .link {
          position: absolute;

          margin: 70px 0 0 2px;

          font-size: 15px;
          letter-spacing: .5px;
          color: $white;
        }
      }
    }
  }

  .content-tupperware {
    max-width: 100%;
    padding: 35px 125px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color:#fff !important;

    .fb-logo {
      margin-right: 12px;
      width: 50px;
    }

    .ig-logo {
      margin-right: 10px;
      width: 50px;
    }

    .in-logo {
      margin-right: 5px;
      width: 50px;
    }

    .em-logo {
      margin: -1px 21px 0 20px;
      width: 52px;
    }

    .p-logo {
      margin: 1px 77px 0 0;
      width: 52px;
    }
  
    .content-holder {
      ul { 
        position: relative;
      
        margin: 0;
      
        list-style-type: none;
        li { 
          display: inline-block;
          padding-left:36px;
      
          a {
            font-size: 15px;
            color:$dark-grey;
          }
        }
      }
    }
  }
}

@include respond-to(lg) {
  footer {
    margin-top: 160px;
  
    .content-box { 
      .content-wrapper {
        &:nth-child(1) {
          margin-left: 48px;
        }
  
        .hand {
          margin: -120px 0 0 0;
          width: 400px;
        }
      }      
    }
  
    .text { 
      .title {
        margin: 30px 0 10px 0;
      }
    }
  
    .content-holder {
      .content-pockets {
        padding: 3px 0 0 0;
  
        &:nth-child(1) {
          padding: 3px 0 0 48px;
        }
  
        &:nth-child(2) {
          padding: 263px 0 0 30px;

          .logo {
            margin: -250px 0 0 0;
          }

          .text {
            margin: -158px 0 0 0;
          }

          .link {
            margin: -51px 0 0 0;
          }
        }
  
        &:nth-child(3) {
          padding: 40px 0 0 25px;

          .logo {
            margin: -123px 0 21px 0;
          }

          .number {
            margin: -48px 0 0 -3px;
          }

          .link {
            margin: 61px 0 0 0;
          }
        }
      }
    }
  
    .content-tupperware {
      padding: 35px 0;
    }
  }
}

@include respond-to(md) {
  footer {
    margin-top: 160px;
  
    .content-box { 
      .content-wrapper {
        &:nth-child(1) {
          padding: 3px 0 0 50px;
        }

        &:nth-child(2) {
          width: 38%;
        }
  
        .hand {
          margin: -85px 0 0 0;
          width: 280px;
        }
      }      
    }
  
    .text { 
      .title {
        margin: 30px 0 10px 0;
      }

      .logos {
        .apple-logo {
          margin: 0 0 0 3px;
        }

        .google-logo {
          margin: 0 0 0 90px;
        }
      }
    }
  
    .content-holder {
      .content-pockets {
        padding: 3px 0 0 0;
  
        &:nth-child(1) {
          margin-left: 20px;

          .logo {
            margin: -25px 0 0 0;
          }

          .text {
            margin: 47px 33px 0 3px;
          }

          .link {
            margin: 8px 0 0 0;
          }
        }
  
        &:nth-child(2) {
          padding: 263px 0 0 30px;

          .logo {
            margin: -250px 0 0 0;
          }

          .text {
            margin: -158px 0 0 0;
            width: 300px;
          }

          .link {
            margin: -33px 0 0 0;
          }
        }
  
        &:nth-child(3) {
          padding: 40px 0 0 25px;

          .logo {
            margin: -123px 0 21px 0;
          }

          .number {
            margin: -48px 0 0 -3px;
            width: 200px;
          }

          .link {
            margin: 80px 0 0 0;
          }
        }
      }
    }
  
    .content-tupperware {
      display: none;
    }
  }
}

@include respond-to(sm) {
  footer {
    margin-top: 80px;
  
    .content-box { 
      .content-wrapper {
        &:nth-child(1) {
          margin-left: 30px;
          width: 100%;
        }
  
        .hand {
          display: none;
        }
      }      
    }
  
    .text { 
      .title {
        margin: 30px 0 10px 0;

        letter-spacing: 0;
      }

      .desc {
        margin: 0 21px 15px 0;
      }

      .logos {
        margin: 10px 0 30px 0;

        .apple-logo {
          margin: 0;
        }

        .google-logo {
          margin: 0 0 0 90px;
        }
      }
    }
  
    .content-holder {
      flex-direction: column;

      border: none;

      .content-pockets {
        padding: 30px 0 0 0;
  
        &:nth-child(1) {
          margin: 0 0 50px 10px;
          width: 93%;

          .logo {
            margin: -25px 0 0 0;
            width: 55px;
          }

          .text {
            margin: 20px 33px 0 3px;

            font-size: 18px;
          }

          .link {
            margin: 8px 0 0 5px;
          }
        }
  
        &:nth-child(2) {
          padding: 263px 0 0 0;
          margin: 0 0 0 18px;
          width: 93%;

          border: none;

          .logo {
            margin: -250px 0 0 0;
            width: 55px;
          }

          .text {
            margin: -183px 0 0 0;
            width: 500px;

            font-size: 18px;
          }

          .link {
            margin: -120px 0 0 0;
          }
        }
  
        &:nth-child(3) {
          padding: 55px 0 30px 0;
          width: 93%;

          .logo {
            margin: -120px 0 0 8px;
            width: 40px;
          }

          .number {
            margin: -77px 0 0 8px;
            width: 500px;

            font-size: 38px;
          }

          .link {
            margin: -23px 0 0 10px;
          }
        }
      }
    }
  
    .content-tupperware {
      display: none;
    }
  }
}

@include respond-to(xs) {
  footer {
    margin-top: 90px;
  
    .content-box { 
      .content-wrapper {
        &:nth-child(1) {
          margin-left: 30px;
          width: 100%;
        }
  
        .hand {
          display: none;
        }
      }      
    }
  
    .text { 
      .title {
        margin: 30px 0 10px 0;

        font-size: 28px;
        letter-spacing: 0;
      }

      .desc {
        margin: 0 0 15px 0;
      }

      .logos {
        flex-direction: column;
        margin: 10px 0 30px 0;

        .apple-logo {
          margin: 0px 0 10px 3px;
          width: 100%;
        }

        .google-logo {
          margin: 0;
          width: 100%;
        }
      }
    }
  
    .content-holder {
      flex-direction: column;

      border: none;

      .content-pockets {
        padding: 30px 0 0 0;
  
        &:nth-child(1) {
          margin: 0 0 50px 10px;
          width: 93%;

          .logo {
            margin: -25px 0 0 0;
            width: 55px;
          }

          .text {
            margin: 20px 0 0 3px;
            width: 280px;

            font-size: 18px;
          }

          .link {
            margin: 8px 0 0 5px;
          }
        }
  
        &:nth-child(2) {
          padding: 63px 0 165px 0;
          margin: 0 0 0 18px;
          width: 93%;

          border: none;

          .logo {
            margin: -50px 0 0 0;
            width: 55px;
          }

          .text {
            margin: 15px 0 0 0;
            width: 280px;

            font-size: 18px;
          }

          .link {
            margin: 128px 0 0 0;
          }
        }
  
        &:nth-child(3) {
          padding: 0 0 160px 0;
          width: 93%;

          .logo {
            margin: 28px 0 0 8px;
            width: 40px;
          }

          .number {
            margin: 75px 0 0 8px;
            width: 280px;

            font-size: 38px;
          }

          .link {
            margin: 130px 0 0 10px;
          }
        }
      }
    }
  
    .content-tupperware {
      display: none;
    }
  }
}