//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  .navbar{
    padding: 0;
    .navbar-brand{
      width: 250px;

      margin: 15px 0 0 0;
    }

    .nav-item{
      margin: 25px 32px 0 0;
    }

    a{
      font-size: 14px;
      color: $mid-grey; 
    }

    .navbar-collapsing{
      margin: 8px 0 0 21.5%;

      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      .navbar-buttons-inside{
        display: none;
      }

      .logos-footer{
        display: none;
      }

      .navbar-buttons-outside{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;         
      }   
    }
  }
}

// .content-wrapper:nth-child(even) {
//   .content-holder:first-child {
//     order: 2;
//   }
// }

@media (min-width: 1921px) and (max-width: 2000px){
  header {
    .container{
      padding: 0;
      .navbar{
        .navbar-brand{
          margin: 2px 0 0 -2.2%;
        }
        .nav-item{
          padding: 0;
        }

        .navbar-buttons{  
          .btn-number{
            margin: 22px -42px 0 5%;
            img{
              padding-right: 8px;
            }
          }  
    
          .btn-language{
            margin: 24px 0 0 70%;
          }          
        }
      }
    }
  }
}

@include respond-to(lg) {
  header {
    .container{
      .navbar{
        .navbar-brand{
          margin: 6px 0 0 50px;
          width: 200px;
          img{
            width: 200px;

            margin: none;
          }
        }

        .navbar-collapsing{
          margin: 0 0 0 2%;
          width: 79%;

          .nav-item{
            margin: 35px 0 0 0;
          }
          
          .navbar-buttons-outside{
            .btn-number{
              margin: 15px 3px 0 15px;
              padding: 10px 19px;
            }
    
            .btn-language{
              margin: 19px 12px 0 0;
              padding: 10px 18px;
            }        
          }

          .navbar-buttons-inside{
            display:none;
          }
        }
      }
    }
  }
}

@media (min-width: 1091px) and (max-width: 1116px) {
  header {
    .container{
      .navbar{
        .navbar-brand{
          margin: 6px 0 0 30px;
        }
        .navbar-collapsing{
          margin: 0 0 0 0;  
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1090px) {
  header {
    .container{
      .navbar{
        .navbar-brand{
          margin: 6px 0 0 5px;
        }

        .navbar-collapsing{
          margin: 0 0 0 0;  
          ul{
            a{
              font-size: 13px;
            }
          }

          .btn-number{
            margin: 26px 5px 0 5px !important;
          }
          .btn-language{
            margin: 26px 5px 0 0 !important;
          }          
        }   
      }
    }
  }
}

@include respond-to(md) {
  header {
    .container{
      .navbar{
        margin-right: 8%;
        .navbar-brand{
          margin: 6px 0 0 8%;
          width: 200px;
        }
  
        .navbar-collapsing{
          margin: 0;

          flex-direction: row-reverse;
          .nav-item{
            margin: 35px 0 0 -122px;
          }

          .navbar-buttons-outside{
            .btn-number{
              margin: 0 20px 0 20px;
              font-size: 13px;
            }
      
            .btn-language{
              margin: 0 20px 0 0;
              font-size: 13px;
            }
          }

          .logos-footer{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            width: 23%;

            margin: 10% 0 0 -5%;
            .first-logo{
              position:absolute;

              display:flex;
              justify-content: flex-start;

              margin: 0 0 0 -13%;
              width: 8.6%;

              .in-logo{
                width: 50px;
              }   
            }
            
            .second-logo{
              position:absolute;

              display:flex;
              justify-content: center;

              margin: 0 0 0 3%;
              width: 8.6%;

              .em-logo{
                width: 52px;
              }   
            }
            
            .third-logo{
              position:absolute;

              display:flex;
              justify-content: flex-end;

              margin: 0 0 0 19%;
              width: 8.6%;

              .p-logo{
                width: 52px;
              }   
            } 
          }
        }

        .collapse {
          position: fixed;
          top: 84px;
          right: -100%;
          z-index: 2000;
  
          display: block;
          height: 100% !important;
          width: 0;
          padding: 0 0 0 5.5%;
  
          background-color: $white;
  
          transition: all .3s ease;
        }
        
        .collapsing {
          position: fixed;

          display: block;
          width: 100%;
          height: 100% !important;

          transition: all .3s ease-in;
        }
        
        .collapse.show {
            right: 0;
            width: 100%;
        }
      }
    }
  }
} 

@media (min-width: 800px) and (max-width: 900px) {
  header {
    .container{
      .navbar{
        .navbar-collapsing{
          .logos-footer{
            .in-logo{
              margin: 9.5% 0 0 -52.5%;
            }
        
            .em-logo{
              margin: 9.4% 0 0 -40.2%;
            }
        
            .p-logo{
              margin: 9.4% 0 0 -28.27%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 850px) {
  header {
    .container{
      .navbar{
        margin-right: 8%;
        .navbar-brand{
          margin: 6px 0 0 7%;
          width: 200px;
        }      
      }
    }
  }
}

@include respond-to(sm) {
  header {
    .container{
      .navbar{
        margin: 6px 3% 0 0 !important;

        .navbar-brand{
          margin: 0 0 0 6%;
          width: 200px;
          img{
            width: 200px;
          }
        }

        .navbar-collapsing{
          margin: 0 1.3% 0 2%;

          flex-direction: row-reverse;
          .nav-item{
            margin: 35px 0 0 0;
            .nav-link{
              padding-right: none;
            }
          }

          .navbar-buttons-inside{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            .btn-number{
              position: absolute;

              padding: 15px 22%;
              margin: 3% 0 0 -44%;
  
              font-size: 24px;
              color: $white;
  
              background-color: $orange;
              border: none;
              border-radius: 37px;
  
              img{
                padding-right: 8px;
                padding-bottom: 8px;
                width: 30px;
              }
            }

            .btn-language{
              position: absolute;

              padding: 15px 29.5%;
              margin: 12% 0 0 -44%;
  
              font-size: 24px;
              color: $white;
  
              background-color: $dark-blue;
              border: none;
              border-radius: 37px;
  
              img{
                padding-left: 8px;
                padding-bottom: 4px;
                width: 27px;
              }
            }
          }

          .logos-footer{
            margin: 40%;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .in-logo{
              margin-left: -465%;
              width: 50px;
            }
        
            .em-logo{
              margin-left: -165%;
              width: 52px;
            }
        
            .p-logo{
              margin-left: 120%;
              width: 52px;
            }
          }

          .navbar-buttons-outside{
            display:none;
          }
        }

        .collapse {
          position: fixed;
          top: 84px;
          right: -100%;
          z-index: 2000;
  
          display: block;
          height: 100% !important;
          width: 0;
          padding: 0 0 0 5.5%;
  
          background-color: $white;
  
          transition: all .3s ease;
        }
        
        .collapsing {
          position: fixed;

          display: block;
          width: 100%;
          height: 100% !important;

          transition: all .3s ease-in;
        }
        
        .collapse.show {
            right: 0;
            width: 100%;
        }
      }    
    }
  }
}

@media (min-width: 650px) and (max-width: 700px) {
  header {
    .container{
      .navbar{
        .navbar-collapsing{
          .navbar-buttons-inside{
            .btn-number{
              padding: 13px 19% !important;
              margin: 5% 0 0 -46% !important;
            }
  
            .btn-language{
              padding: 15px 26.5% !important;
              margin: 15% 0 0 -46% !important;
            }
          }
          .logos-footer{
            .in-logo{
              margin-left: -528%;
            }
        
            .em-logo{
              margin-left: -270%;
            }
        
            .p-logo{
              margin-left: -43%;
            }
          }
        }
      }    
    }
  }
}

@media (min-width: 600px) and (max-width: 649px) {
  header {
    .container{
      .navbar{
        .navbar-collapsing{  
          .navbar-buttons-inside{
            .btn-number{
              padding: 13px 17% !important;
              margin: 5% 0 0 -46% !important;
            }

            .btn-language{
              padding: 13px 24.5% !important;
              margin: 13% 0 0 -46% !important;
            }
          }
          
          .logos-footer{
            .in-logo{
              margin-left: -538%;
            }
        
            .em-logo{
              margin-left: -330%;
            }
        
            .p-logo{
              margin-left: -143%;
            }
          }
        }
      }    
    }
  }
}

@media (min-width: 576px) and (max-width: 599px) {
  header {
    .container{
      .navbar{
        .navbar-collapsing{
          .navbar-buttons-inside{
            .btn-number{
              padding: 13px 15% !important;
              margin: 5% 0 0 -46% !important;
            }
  
            .btn-language{
              padding: 13px 22.5% !important;
              margin: 13% 0 0 -46% !important;
            }
          }
          .logos-footer{
            .in-logo{
              margin-left: -585%;
            }
        
            .em-logo{
              margin-left: -365%;
            }
        
            .p-logo{
              margin-left: -165%;
            }
          }
        }
      }    
    }
  }
}

@include respond-to(xs) {
  header {
    .container{
      .navbar{
        margin: none;
        .navbar-brand{
          margin: 6px 0 0 7%;
          width: 200px;
          img{
            width: 200px;
          }
        }

        .navbar-collapsing{
          margin: 0;
          .nav-item{
            margin: 35px 0 0 0;
            .nav-link{
              padding-right: none;
            }
          }
                    
          .navbar-buttons-inside{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            .btn-number{
              padding: 10px 29% !important;
              margin: 18% 0 0 -129% !important;

              font-size: 24px;
              color: $white;
  
              background-color: $orange;
              border: none;
              border-radius: 37px;

              img{
                padding-right: 8px;
                padding-bottom: 8px;
                width: 30px;
              }
            }
  
            .btn-language{
              padding: 10px 219.5% !important;
              margin: 18% 0 0 -560% !important;

              font-size: 24px;
              color: $white;
  
              background-color: $dark-blue;
              border: none;
              border-radius: 37px;
  
              img{
                padding-left: 8px;
                padding-bottom: 4px;
                width: 27px;
              }
            }
          }

          .logos-footer{
            margin-top: 22%;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .in-logo{
              margin-left: -585%;
              width: 50px;
            }
        
            .em-logo{
              margin-left: -395%;
              width: 52px;
            }
        
            .p-logo{
              margin-left: -230%;
              width: 52px;
            }
          }

          .navbar-buttons-outside{
            display: none;
          } 
        }

        .collapse {
          position: fixed;
          top: 84px;
          right: -100%;
          z-index: 2000;
  
          display: block;
          height: 100% !important;
          width: 0;
          padding: 0 0 0 5.5%;
  
          background-color: $white;
  
          transition: all .3s ease;
        }
        
        .collapsing {
          position: fixed;

          display: block;
          width: 100%;
          height: 100% !important;

          transition: all .3s ease-in;
        }
        
        .collapse.show {
            right: 0;
            width: 100%;
        }

      }
    }
  }
}

@media (min-width: 470px) and (max-width: 500px) {
  header {
    .container{
      .navbar{
        .navbar-collapsing{             
          .navbar-buttons-inside{
            .btn-number{
              padding: 9px 29% !important;
              margin: 18% 0 0 -150% !important;
            }
  
            .btn-language{
              padding: 9px 219.5% !important;
              margin: 18% 0 0 -635% !important;
            }
          }

          .logos-footer{
            .in-logo{
              margin-left: -640%;
            }
        
            .em-logo{
              margin-left: -470%;
            }
        
            .p-logo{
              margin-left: -330%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 440px) and (max-width: 469px) {
  header {
    .container{
      .navbar{
        .navbar-collapsing{             
          .navbar-buttons-inside{
            .btn-number{
              padding: 9px 29% !important;
              margin: 18% 0 0 -94% !important;
            }
  
            .btn-language{
              padding: 9px 219% !important;
              margin: 18% 0 0 -441% !important;
            }
          }

          .logos-footer{
            margin-top: 30%;
            .in-logo{
              margin-left: -415%;
            }
        
            .em-logo{
              margin-left: -248%;
            }
        
            .p-logo{
              margin-left: -95%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 400px) and (max-width: 439px) {
  header {
    .container{
      .navbar{
        .navbar-collapsing{             
          .navbar-buttons-inside{
            .btn-number{
              padding: 9px 29% !important;
              margin: 18% 0 0 -102% !important;
            }
  
            .btn-language{
              padding: 9px 219% !important;
              margin: 18% 0 0 -468% !important;
            }
          }

          .logos-footer{
            margin-top: 31%;
            .in-logo{
              margin-left: -450%;
            }
        
            .em-logo{
              margin-left: -274%;
            }
        
            .p-logo{
              margin-left: -125%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 370px) and (max-width: 399px) {
  header {
    .container{
      .navbar{
        .navbar-collapsing{             
          .navbar-buttons-inside{
            .btn-number{
              padding: 7px 29% !important;
              margin: 18% 0 0 -112% !important;
            }
  
            .btn-language{
              padding: 7px 219% !important;
              margin: 18% 0 0 -500% !important;
            }
          }

          .logos-footer{
            margin-top: 32%;
            .in-logo{
              margin-left: -490%;
            }
        
            .em-logo{
              margin-left: -310%;
            }
        
            .p-logo{
              margin-left: -165%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 345px) and (max-width: 369px) {
  header {
    .container{
      .navbar{
        .navbar-collapsing{             
          .navbar-buttons-inside{
            .btn-number{
              padding: 7px 25% !important;
              margin: 18% 0 0 -115% !important;
            }
  
            .btn-language{
              padding: 7px 205% !important;
              margin: 18% 0 0 -513% !important;
            }
          }

          .logos-footer{
            margin-top: 32%;
            .in-logo{
              margin-left: -502%;
            }
        
            .em-logo{
              margin-left: -345%;
            }
        
            .p-logo{
              margin-left: -208%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 330px) and (max-width: 344px) {
  header {
    .container{
      .navbar{
        .navbar-collapsing{             
          .navbar-buttons-inside{
            .btn-number{
              padding: 7px 25% !important;
              margin: 18% 0 0 -120% !important;
            }
  
            .btn-language{
              padding: 7px 205% !important;
              margin: 18% 0 0 -530% !important;
            }
          }

          .logos-footer{
            margin-top: 32%;
            .in-logo{
              margin-left: -522%;
            }
        
            .em-logo{
              margin-left: -360%;
            }
        
            .p-logo{
              margin-left: -223%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 329px) {
  header {
    .container{
      .navbar{
        .navbar-collapsing{             
          .navbar-buttons-inside{
            .btn-number{
              padding: 7px 20% !important;
              margin: 18% 0 0 -125% !important;
            }
  
            .btn-language{
              padding: 7px 188% !important;
              margin: 18% 0 0 -547% !important;
            }
          }

          .logos-footer{
            margin-top: 32%;
            .in-logo{
              margin-left: -543%;
            }
        
            .em-logo{
              margin-left: -400%;
            }
        
            .p-logo{
              margin-left: -284%;
            }
          }
        }
      }
    }
  }
}