//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn-number{
  padding: 13px 19px;
  margin: 37px 3px 0 0;

  font-size: 15px;
  color: $white;

  background-color: $orange;
  border: none;
  border-radius: 37px;

  img{
    padding-right: 8px;
  }
}  

.btn-number:hover {
  background:linear-gradient(90deg, #f2994a 0%,#f2c94c 100% );
}

.btn-language{
  padding: 13px 20px;
  margin: 37px 0 0 0;

  font-size: 15px;
  color: $white;

  background-color: $dark-blue;
  border: none;
  border-radius: 37px;

  img{
    padding-left: 8px;
  }
} 

.btn-language:hover {
  background:linear-gradient(90deg, #07306f 0%,#1cb5e0 100% );
}

.btn-blue{
  position: absolute;
  
  padding: 18px 29px;

  font-size: 15px;
  color: $white;

  background-image: linear-gradient(to right top, #278dd7, #2685cc, #257cc1, #2474b6, #226cab);
  border-radius: 27px;
  border: none;
}          

.btn-blue:hover {
  background:linear-gradient(90deg, #07306f 0%,#1cb5e0 100% );
}

.btn-yellow{
  position: absolute;

  padding: 18px 29px;
  width: 200px;

  font-size: 15px;
  color: $white;

  background-color: $light-yellow;
  border: none;
  border-radius: 27px;
}

.btn-yellow:hover {
  background:linear-gradient(90deg, #f2994a 0%,#f2c94c 100% );
}

.btn-healthy{
  position: absolute;

  padding: 18px 64px;

  font-size: 15px;
  color: $white;

  background-image: linear-gradient(to right top, #278dd7, #2685cc, #257cc1, #2474b6, #226cab);
  border-radius: 27px;
  border: none;
}

.btn-healthy:hover {
  background:linear-gradient(90deg, #07306f 0%,#1cb5e0 100% );
}

.btn-solution{
  position: absolute;

  padding: 18px 52px;

  font-size: 15px;
  color: $white;

  background-image: linear-gradient(to right top, #278dd7, #2685cc, #257cc1, #2474b6, #226cab);
  border-radius: 27px;
  border: none;
}

.btn-solution:hover {
  background:linear-gradient(90deg, #07306f 0%,#1cb5e0 100% );
}