//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  transition: all .2s ease-in-out;
  
  .section-intro {
    padding-bottom: 170px;

    background-image: url("../assets/images/3.fw.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .swiper-container {
      margin: 87px 0 0 0;
      width: 620px;

      .swiper-slide {
        width: 620px;

        h1 {
          margin: 155px 0 0 3px;
          width: 620px;

          font-size: 60px;
          font-weight: bold;
          letter-spacing: 3px;
          line-height: 72px;
          color: $white;
        }

        .title {
          margin: 155px 0 0 0;
          width: 620px;

          font-size: 60px;
          font-weight: bold;
          letter-spacing: 3px;
          line-height: 72px;
          color: $white;
        }
      }
    }

    .swiper-pagination {
      margin: 0;
      width: 9%;
    }

    .section-intro-icons {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 80px;

      .icons-w-text {
        margin: 0 66px 0 0;
        width: 61px;

        text-align: center;
  
        .text {
          margin-top: 11px;

          font-size: 15px;
          font-weight: bold;
          color: $white;
        }
      }
    }

    .sidebar-item {
      position: fixed;
      top: 370px;
      right: 0;
      z-index: 20;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 58px;
      height: 260px;

      background-color: $white;

      .fb-logo {
        flex-grow: 1;
        margin: 13px 0 6px 0;
        width: 9px;
      }

      .ig-logo {
        margin: 0 5px 21px 0;
        width: 9px;
      }

      .linkedin-logo {
        margin: 0 5px 22px 0;
        width: 9px;
      }

      .share-logo {
        margin: 0 5px 25px 0;
        width: 9px;
      }

      .phone-logo {
        margin: 0 0 9px 4px;
        width: 9px;
      }
    }
  }

  .section-mission {
    position: relative;

    padding-bottom: 34px;

    background-color: $white;

    &:before {
      content:"";
      
      position: absolute;
      top: 11.3%;
      left: 9.8%;
      z-index: 1;

      width: 18%;
      height: 50%;

      background-image:url("../assets/images/7.fw.png");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .content-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .content-holder {
        display: flex;
        flex-direction: row;

        &:nth-child(1) {
          position: absolute;

          margin: -44px 0 0 343px;
          width: 27%;
          height: 70%;
        }

        &:nth-child(2) {
          margin: 0 0 0 846px;
          width: 45%;
        }

        .content-pocket {
          display: flex;
          flex-direction: row;

          .mission-header {
            position: absolute;
            
            margin: 0 0 0 27px;
      
            font-size: 41px;
            font-weight: bold;
            color: $black;
          }

          .missions-pocket {
            display: flex;
            flex-direction: row;
            margin: 95px 0 0 31px;

            .mission{
              position: absolute;
        
              display: flex;
              flex-direction: row;
        
              p{
                margin: 0 0 0 7%;
          
                font-size: 16px;
              }
            }
        
            .cost {
              margin: 0;
              width: 250px;
            }
        
            .efficiency {
              margin: 43px 0 0 0;
              width: 275px;
            }
        
            .flexibility {
              margin: 89px 0 0 0;
              width: 298px;
            }
        
            .competitive {
              margin: 133px 0 0 0;
              width: 305px;
            }
        
            .transparency {
              margin: 178px 0 0 0;
              width: 275px;
            }
        
            .bullet-point {
              width: 24px;
            }
          }

          .btn-blue {
            margin: 370px 0 0 23px;
          }

          .btn-yellow {
            margin: 370px 0 0 233px;
          }
        }
      }

      .box-provide { 
        z-index: 9;
  
        margin: -21% 0 0 11px;
        width: 92%;
        height: 800px;
    
        background-image: url("../assets/images/9.fw.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
  
        .box-provide-header {
          padding: 210px 0 0 88px;
          width: 595px;
    
          font-size: 40px;
          font-weight: bold;
          letter-spacing: 1.2px;
          color: $white;
        }

        .solutions-pocket {
          display: flex;
          flex-direction: row;
          margin: 28px 21px 33px 92px;
          width: 575px;

          .first-icon {
            margin-top: 5px;
            width: 43px;
          }
      
          .second-icon {
            margin-top: 9px;
            width: 40px;
          }
      
          .third-icon {
            margin: 8px 0 0 -2px;
            width: 46px;
          }
      
          .fourth-icon {
            margin: 5px 0 0 3px;
            width: 40px;
          }
    
          .solutions-title-and-desc {
            position: absolute;
  
            display: flex;
            flex-direction: column;
            margin: 0 0 0 73px;

            .title {
              margin: 0 0 4px 0;
              width: 176px;
        
              font-size: 18px;
              font-weight: bold;
              letter-spacing: .8px;
              color: $white;
            }

            .desc {
              margin: 0 0 0 1px;
              width: 390px;
        
              font-size: 18px;
              letter-spacing: -.7px;
              color: $white;
            }

            .title-healthcare {
              margin: 0 0 0 1px;
              width: 192px;
        
              font-size: 18px;
              font-weight: bold;
              letter-spacing: .8px;
              color: $white;
            }
        
            .desc-healthcare {
              margin: 0 0 0 1px;
              width: 390px;
        
              font-size: 18px;
              letter-spacing: -.7px;
              color: $white;
            }
          }
        }  
      } 
    }  
  }
  
  .section-healthy {
    margin-bottom: 207px;

    .healthy-header {
      margin: 0 0 8px 0;
      width: 335px;

      font-size: 40px;
      font-weight: bold;
      letter-spacing: 1.8px;
    }

    .healthy-desc {
      margin: 0 0 0 2px;
      width: 620px;

      font-size: 15px;
      font-weight: bold;
      letter-spacing: 2px;
    }

    .swiper-container {
      padding: 35px 0 0 2px;

      .swiper-wrapper {
        transition-duration: none;
        transform: none;
        
        .swiper-slide {  
          display: flex;
          justify-content: left;
          align-items: center;

          font-size: 28px;
          font-weight: bold;
          color: $white;
          line-height: 35px;

          &:nth-child(1) {
          width: 745px;   

            .caption {
              position: absolute;
              z-index: 13;
          
              margin: 270px 0 0 35px;
              width: 240px;
        
              line-height: 35px;
            }

            .date {
              position: absolute;
              z-index: 13;

              margin: 390px 0 0 35px;

              font-size: 13px;
              color: white;
            }

            .tag {
              position: absolute;
              z-index: 13;
              
              margin: 487px 0 0 36px;
              width: 62px;
              height: 25px;

              font-size: 13px;
              text-align: center;

              background-color: $yellow;
            }       
          }

          &:nth-child(2) {
            width: 371px;

            .caption {
              position: absolute;
              z-index: 13;
          
              margin: 272px 0 0 31px;
              width: 282px;
            }

            .date {
              position: absolute;
              z-index: 13;

              margin: 390px 0 0 35px;

              font-size: 13px;
              color: white;
            }

            .tag {
              position: absolute;
              z-index: 13;
              
              margin: 488px 0 0 35px;
              width: 102px;
              height: 26px;

              font-size: 13px;
              text-align: center;

              background-color: $light-green;
            }
          }

          &:nth-child(3) {
            width: 371px;

            .caption {
              position: absolute;
              z-index: 13;
          
              margin: 270px 0 0 36px;
              width: 240px;
        
              line-height: 35px;
            }

            .date {
              position: absolute;
              z-index: 13;

              margin: 390px 0 0 35px;

              font-size: 13px;
              color: white;
            }

            .tag {
              position: absolute;
              z-index: 13;
              
              margin: 487px 0 0 34px;
              width: 124px;
              height: 26px;

              font-size: 13px;
              text-align: center;

              background-color: $blue;
            }
          }

          img {
            z-index: 12;
          }
        }
      }
    }

    .btn-healthy {
      margin: 68px 0 0 0;
    }
  }

  .section-is {
    padding: 205px 0 195px 0;

    background-image:url("../assets/images/21.fw.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .content-wrapper {
      position: relative;

      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      &:before {
        content: "";

        position: absolute;
        top: 16px;
        left: 20px;
        z-index: 1;

        width: 636px;
        height: 535px;

        background-image: url("../assets/images/22.fw.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .content-holder {
        position: relative;

        display: flex;
        flex-direction: column;
    
        margin-left: 788px;

        .content-features {
          display: flex;
          flex-direction: column;

          .content-pocket {
            display: flex;
            flex-direction: row;
            margin: 7px 230px 12px 0;
            width: 490px;
          }
        }

        .btn-solution {
          margin: 178px 0 0 5px;
        }
      }
    }

    .title {
      margin: 0;
      width: 582px;

      font-size: 43px;
      font-weight: bold;
      color: $black;
    }

    .title-blue {
      position: absolute;

      margin: 47px 0 33px 0px;
      width: 140px;

      font-size: 43px;
      font-weight: bold;
      color: $dark-blue;
    }

    .desc {
      margin: 78px 0 45px 0;
      width: 620px;

      font-size: 18px;
      color: $black;
      letter-spacing: -.6px;
      line-height: 30px;
    }

    .bullet-point {
      width: 28px;
    }

    .text {
      margin: 0 0 0 20px;

      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1.5px;
      color: $black;
    }

    .img-leaves {
      position: absolute;
      right: 98px;
      z-index: 9;

      margin: 105px 0 44px 0;
    }
  }
}

@include respond-to(lg) {
  .home {
    .section-intro {
      .swiper-container {
        margin: 87px 0 0 45px;
      }
  
      .swiper-pagination {
        margin: 0 0 0 1%;
      }
  
      .section-intro-icons { 
        margin: 0 0 0 50px;
      }
    }
  
    .section-mission {
      &:before {
        top: 5%;
        left: 8%;
  
        width: 27%;
        height: 25%;
      }
  
      .content-wrapper {
        flex-direction: column;
  
        .content-holder {
          &:nth-child(1) {
            margin: 50px auto;
            width: 27%;
            height: 25%;
          }
  
          &:nth-child(2) {
            margin: 440px auto 0;
            width: 690px;
          }
  
          .content-pocket {
            .btn-blue {
              margin: 340px 0 0 23px;
            }
  
            .btn-yellow {
              margin: 340px 0 0 233px;
            }
          }
        }
  
        .box-provide { 
          margin: 0;
        } 
      }  
    }
    
    .section-healthy {
      margin-bottom: 110px;

      .healthy-header {
        margin: 0 0 8px 48px;
      }

      .healthy-desc {
        margin: 0 0 0 48px;
      }

      .swiper-container {
        width: 92%;

        .swiper-slide { 
          &:nth-child(1) {
            width: 550px !important;

            .caption {
              margin: 160px 0 0 35px !important;
            }

            .date {
              margin: 275px 0 0 35px !important;
            }

            .tag {
              margin: 350px 0 0 36px !important;
            }

            img {
              width: 550px !important;
            }
          }

          &:nth-child(2) {
            width: 272px !important;

            .caption {
              margin: 160px 0 0 35px !important;
              width: 220px !important;
            }

            .date {
              margin: 290px 0 0 35px !important;
            }

            .tag {
              margin: 350px 0 0 36px !important;
            }

            img {
              width: 272px;
            }
          }

          &:nth-child(3) {
            width: 272px !important;

            .caption {
              margin: 160px 0 0 35px !important;
              width: 220px;
            }

            .date {
              margin: 290px 0 0 35px !important;
            }

            .tag {
              margin: 350px 0 0 36px !important;
            }

            img {
              width: 272px;
            }
          }

          &:nth-child(4) {
            width: 272px !important;

            img {
              width: 272px;
            }
          }
        }
      }

      .btn-healthy {
        margin: 68px 0 0 50px;
      }
    }
  
    .section-is { 
      padding: 200px 0 200px 0;

      .content-wrapper {
        &:before {
          top: 0;
          left: 50px;
        }
  
        .content-holder {
          margin: 550px 0 0 50px;
  
          .btn-solution {
            margin: 178px 0 0 5px;
          }
        }
      }

      .img-leaves {
        display: none;
      }
    }
  }
}

@include respond-to(md) {
  .home {
    .section-intro {
      .swiper-container {
        margin: 87px 0 0 45px;
      }
  
      .swiper-pagination {
        margin: 0 0 0 1%;
      }
  
      .section-intro-icons { 
        margin: 0 0 0 50px;
      }
    }
  
    .section-mission {
      &:before {
        top: 5%;
        left: 6%;
  
        width: 30%;
        height: 18%;
      }
  
      .content-wrapper {
        flex-direction: column;
  
        .content-holder {
          &:nth-child(1) {
            margin: 50px auto;
            width: 34%;
            height: 18%;
          }
  
          &:nth-child(2) {
            margin: 440px auto 0;
            width: 650px;
          }
  
          .content-pocket {
            .btn-blue{
              margin: 340px 0 0 23px;
            }
  
            .btn-yellow {
              margin: 340px 0 0 233px;
            }
          }
        }
  
        .box-provide { 
          margin: 0;
          width: 94%;
        } 
      }  
    }
    
    .section-healthy {
      margin-bottom: 110px;

      .healthy-header {
        margin: 0 0 8px 48px;
      }

      .healthy-desc {
        margin: 0 0 0 48px;
      }

      .swiper-container {
        width: 88%;

        .swiper-slide { 
          &:nth-child(1) {
            width: 550px !important;

            .caption {
              margin: 160px 0 0 35px !important;
            }

            .date {
              margin: 275px 0 0 35px !important;
            }

            .tag {
              margin: 350px 0 0 36px !important;
            }

            img {
              width: 550px !important;
            }
          }

          &:nth-child(2) {
            width: 272px !important;

            .caption {
              margin: 160px 0 0 35px !important;
              width: 220px !important;
            }

            .date {
              margin: 290px 0 0 35px !important;
            }

            .tag {
              margin: 350px 0 0 36px !important;
            }

            img {
              width: 272px;
            }
          }

          &:nth-child(3) {
            width: 272px !important;

            .caption {
              margin: 160px 0 0 35px !important;
              width: 220px;
            }

            .date {
              margin: 290px 0 0 35px !important;
            }

            .tag {
              margin: 350px 0 0 36px !important;
            }

            img {
              width: 272px;
            }
          }

          &:nth-child(4) {
            width: 272px !important;

            img {
              width: 272px;
            }
          }
        }
      }

      .btn-healthy {
        margin: 68px 0 0 50px;
      }
    }
  
    .section-is { 
      padding: 180px 0 180px 0;

      .content-wrapper {
        &:before {
          top: 0;
          left: 50px;
        }
  
        .content-holder {
          margin: 550px 0 0 50px;
  
          .btn-solution {
            margin: 178px 0 0 5px;
          }
        }
      }

      .img-leaves {
        display: none;
      }
    }
  }
}

@include respond-to(sm) {
  .home {
    .section-intro {
      .swiper-container {
        margin: 87px 0 0 25px;
        width: 500px;

        .swiper-slide {
          width: 500px;

          h1 {
            width: 500px;
          }

          .title{
            width: 500px;
          }
        }
      }
  
      .swiper-pagination{
        margin: 0 0 0 1%;
      }
  
      .section-intro-icons{ 
        justify-content: space-around;
        margin: 0;

        .icons-w-text{
          margin: 0;
        }
      }
    }
  
    .section-mission {
      padding: 0;

      &:before {
        display: none;
      }
  
      .content-wrapper {
        flex-direction: column;
  
        .content-holder {
          &:nth-child(1) {
            left: 0;

            margin: 50px 0 0 3px;
            width: 47%;
            height: 18%;
          }
  
          &:nth-child(2) {
            margin: 410px auto 0;
            width: 570px;
          }
  
          .content-pocket {
            .btn-blue {
              margin: 340px 0 0 23px;
            }
  
            .btn-yellow {
              margin: 340px 0 0 233px;
            }
          }
        }
  
        .box-provide { 
          margin: 0;
          width: 90%;

          .box-provide-header {
            padding: 180px 0 0 57px;
            width: 550px;
          }

          .solutions-pocket {
            margin: 28px 0 50px 60px;
          }

          .desc {
            width: 375px !important;
          }
        } 
      }  
    }
    
    .section-healthy {
      margin-bottom: 70px;

      .healthy-header {
        margin: 0 0 8px 35px;
      }

      .healthy-desc {
        margin: 0 0 0 35px;
        width: 535px;
      }

      .swiper-container {
        width: 90%;

        .swiper-slide { 
          &:nth-child(1) {
            width: 500px !important;

            .caption {
              margin: 100px 0 0 35px !important;
            }

            .date {
              margin: 225px 0 0 35px !important;
            }

            .tag {
              margin: 320px 0 0 36px !important;
            }

            img {
              width: 500px !important;
            }
          }

          &:nth-child(2) {
            width: 248px !important;

            .caption {
              margin: 100px 0 0 35px !important;
              width: 220px !important;
            }

            .date {
              margin: 240px 0 0 35px !important;
            }

            .tag {
              margin: 318px 0 0 36px !important;
            }

            img {
              width: 248px;
            }
          }

          &:nth-child(3) {
            width: 248px !important;

            .caption {
              margin: 100px 0 0 35px !important;
              width: 220px !important;
            }

            .date {
              margin: 240px 0 0 35px !important;
            }

            .tag {
              margin: 318px 0 0 36px !important;
            }

            img {
              width: 248px;
            }
          }

          &:nth-child(4) {
            width: 248px !important;

            img {
              width: 248px;
            }
          }
        }
      }

      .btn-healthy {
        margin: 35px 0 0 35px;
      }
    }
  
    .section-is { 
      padding: 160px 0 150px 0;

      .content-wrapper {
        &:before {
          top: 120px;
          left: 30px;

          width: 518px;
          height: 434px;
        }
  
        .content-holder {
          margin: 0 0 0 30px;

          .title {
            width: 513px;

            font-size: 38px;
          }

          .desc {
            margin: 500px 0 45px 0;
            width: 500px;
          }
  
          .btn-solution {
            margin: 178px 0 0 5px;
          }

          .content-features {
            width: 520px;

            .content-pocket {
              margin: 7px 0 12px 0;
            }
          }
        }
      }

      .img-leaves {
        display: none;
      }
    }
  }
}

@include respond-to(xs) {
  .home {
    .section-intro {
      padding-bottom: 80px;

      .swiper-container {
        margin: 0 0 0 20px;
        width: 280px;

        .swiper-slide {
          width: 280px;

          h1 {
            width: 280px;

            font-size: 50px;
          }

          .title{
            width: 280px;

            font-size: 50px;
          }
        }
      }
  
      .swiper-pagination{
        margin: 0 0 0 1%;
        width: 20%;
      }
  
      .section-intro-icons{ 
        justify-content: space-around;
        margin: 0;

        .icons-w-text{
          margin: 0;
        }
      }
    }
  
    .section-mission {
      &:before {
        display: none;
      }
  
      .content-wrapper {
        flex-direction: column;
  
        .content-holder {
          &:nth-child(1) {
            left: 0;

            margin: 50px 0 0 3px;
            width: 82%;
            height: 18%;
          }
  
          &:nth-child(2) {
            margin: 500px auto 0;
            width: 320px;
          }
  
          .content-pocket {
            width: 320px;

            .btn-blue {
              margin: 340px 0 0 23px;
            }
  
            .btn-yellow {
              margin: 420px 0 0 23px;
            }

            .mission-header {
              margin: 0 0 0 20px;
            }

            .missions-pocket {
              margin: 95px 0 0 20px;

              p {
                margin: 0 0 0 4% !important;
              }
            }
          }
        }
  
        .box-provide { 
          margin: 70px 0 0 0;
          width: 100%;
          height: 600px;

          background-size: cover;

          .box-provide-header { 
            padding: 60px 0 0 25px;
            width: 300px;

            font-size: 28px;
          }

          .solutions-pocket {
            margin: 28px 0 50px 24px;
            width: 300px;

            .solutions-title-and-desc{
              margin: 0 0 0 60px;
            }
          }

          .desc {
            width: 200px !important;

            font-size: 16px;
          }

          .desc-healthcare {
            width: 200px !important;

            font-size: 16px;
          }
        } 
      }  
    }
    
    .section-healthy {
      margin-bottom: 70px;

      .healthy-header{
        margin: 0 0 8px 18px;
        width: 280px;

        font-size: 35px;
        letter-spacing: 0;
      }

      .healthy-desc {
        margin: 0 0 0 20px;
        width: 280px;

        font-size: 15px;
        letter-spacing: 0;
      }

      .swiper-container {
        width: 90%;

        .swiper-slide { 
          &:nth-child(1) {
            width: 290px !important;

            .caption {
              margin: 40px 0 0 15px !important;

              font-size: 18px;
              line-height: 20px !important;
            }

            .date {
              margin: 115px 0 0 15px !important;
            }

            .tag {
              margin: 173px 0 0 14px !important;
              width: 48px !important;
              height: 25px !important;
            }

            img {
              width: 290px !important;
            }
          }

          &:nth-child(2) {
            width: 143px !important;

            .caption {
              margin: 10px 0 0 15px !important;
              width: 120px !important;

              font-size: 18px !important;
              line-height: 20px !important;
            }

            .date {
              margin: 120px 0 0 15px !important;
            }

            .tag {
              margin: 172px 0 0 15px !important;
              width: 72px !important;

              font-size: 11px !important;
            }

            img {
              width: 143px;
            }
          }

          &:nth-child(3) {
            width: 143px !important;

            .caption {
              margin: 50px 0 0 15px !important;
              width: 120px !important;

              font-size: 18px !important;
              line-height: 20px !important;
            }

            .date {
              margin: 125px 0 0 15px !important;
            }

            .tag {
              margin: 140px 0 0 15px !important;
              width: 90px !important;

              font-size: 11px !important;
            }

            img {
              width: 143px;
            }
          }


          &:nth-child(4) {
            width: 143px !important;

            img {
              width: 143px;
            }
          }
        }
      }

      .btn-healthy {
        margin: 35px 0 0 18px;
      }
    }
  
    .section-is{ 
      padding: 120px 0 120px 0;

      .content-wrapper {
        &:before {
          top: 120px;
          left: 18px;

          width: 275px;
          height: 232px;      
        }
  
        .content-holder {
          margin: 0 0 0 18px;
          width: 90%;

          .title {
            width: 278px;

            font-size: 30px;
            line-height: 30px;
          }

          .title-blue {
            margin: 56px 0 0 0;
            width: 140px;

            font-size: 30px;
          }

          .desc {
            margin: 300px 0 30px 0;
            width: 280px;

            font-size: 16px;
          }
  
          .btn-solution {
            margin: 210px 0 0 5px;
          }

          .content-pocket {
            width: 294px !important;
          }
        }
      }

      .img-leaves {
        display: none;
      }
    }
  }
}